.circle-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: .01rem solid black;
  background-color: #e0e0ff;
  overflow: hidden;
  font-family: "Cascadia Code", serif;
  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    .arrows-image {
      width: inherit;
      height: inherit;
    }
  }
}
