.main-content {
  height: 100%;
  color: black;
}

.news-card {
  background-color: white;
  padding: 1em;
  margin: 1.5em;
  box-shadow: 0 13px 36px 0 rgba(255,255,255,0.24);
  border-radius: 1em;
}
